# OS metadata
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Temp files
*.tmp
*.log
*.bak

# Node (in case it is added in the future)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
